.Main {
    padding: 0rem;
}

.DCcard {
    margin-top: 1rem;
    border-radius: 1rem;
    width: 90vw;
    max-width: 1200px;
}

.Space {
    display: flex;
    flex-direction: column;
    align-items: center;
}